<div class="footer">
  <div class="container-non-responsive">
    <div class="row">
      <div class="col-xs-4">
        <h4>Works</h4>
        Survey No. 189/1, Shoolagiri Village, <br>
        Hosur Taluk, Krishnagiri District,<br>
        Tamil Nadu 635117<br>
        India<br>
      </div>
      <div class="col-xs-4">
        <h4>Office</h4>
        No. 38, N.R. Road,<br>
        Bangalore 560002<br>
        Karnataka, India<br>
      </div>
      <div class="col-xs-4">
        <h4>Contact</h4>
        info@modigranites.com<br>
        +91 98863 84984<br>
        +91 99458 22021<br>
        +91 95003 93658<br>
      </div>
    </div>
  </div>
</div>
