/* Sticky footer styles
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lato);

$primary_color: #cf2323;
$light-grey: #2a2a2a;
$dark-grey: #1b1b1b;
$darker-grey: #0e0e0e;
$footer-height: 200px;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
  background-color: $light-grey;
}
h1, h2, h3, h4, h5, h6, .nav  {
  font-family: 'Lato', sans-serif;
}
.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-content {
  min-height: 300px;
  padding-bottom: 50px;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  .text-red {
    color: $primary_color;
  }
}
.home-section-1 {
  background: url('../img/home-bg.jpg') no-repeat;
  background-size: cover;
  height: 400px;
  h1 {
    color: #FFF;
  }
  .navbar-header {
    background: url('../img/logo-bg.png') no-repeat;
    background-size: contain;
    height: 64px;
    padding: 0 0;
    img {
      width: 70%;
      margin: -8px auto;
    }
  }
  .navbar-inverse {
    .nav {
      margin-right: 15px;
    }
    .navbar-nav > li > a {
      color: #FFF;
      line-height: 25px;
      text-transform: uppercase;
      padding: 20px 0 0 0;
      margin: 0 12px;
      &:hover, &:focus, &:active {
        color: $primary_color;
        border-bottom: 2px solid $primary_color;
      }
      &.active {
        color: $primary_color;
        background-color: transparent;
        border-bottom: 2px solid $primary_color;
      }
    }
  }
}
.home-section-2 {
  background: $dark-grey;
  min-height: 100px;
  text-align: center;
  color: #FFF;
  padding-top: 30px;
  h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
}
.footer {
  position: absolute;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: $darker-grey;
  color: #FFF;
  p {
    margin-top: 22px;
  }
  hr {
    color: #333;
  }
  h3 {
    color: #FFF;
  }
  h4 {
    color: $primary_color;
  }
}

// Home page
.home-page {
  .page-content {
    h1 {
      text-align: center;
    }
  }
}
